[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-restful = "*"
flask-jwt-extended = "*"
pytest = "*"
flask-marshmallow = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
