[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-restful = "*"
flask-jwt-extended = "*"
pytest = "*"
flask-marshmallow = "*"
flake8 = "*"
flake8-print = "*"
flake8-return = "*"
flake8-literal = "*"
flake8-commas = "*"
flake8-import-order = "*"
werkzeug = "*"
sqlalchemy = "*"
flask-celery = "*"
redis = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.10"
